/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --accent-color: #ff0070;
  --title-card-color: #000024;
  --text-card-color: #f1b2ce;
  --circle-shadow-color: #ff007080;
  --text-hover-color: #ff007040;
  --header-background-images: url("../images/cover-image-dark.png");
  --font-card-color: #000028;
  --header-font-color: #db00ff;
  color: var(--text-card-color);
  background-color: var(--title-card-color);
}

.page.theme_dark .focus-card__title {
  color: var(--accent-color);
}

.page.theme_dark .header__theme-menu-button {
  color: var(--accent-color);
}

.page.theme_dark .header__theme-menu-button_type_dark {
  border: 1px solid var(--accent-color);
}
