/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
	--accent-color: #ff8dcb;
	--title-card-color: #fff1f7;
	--header-background-images: url('../images/cover-image-light.png');
	--header-font-color: #ffC2e6;
	--text-hover-color: #32312d40;
		color: var(--font-card-color);
		background-color: var(--title-card-color);
		--text-card-color:#353430;
		}		


