.page.theme_light {
  --accent-color: #ff8dcb;
  --background-color: #fff1f7;
  --title-card-color: #353430;
  --text-card-color: #353430;
  --text-hover-color: #32312d40;
  --header-background-images: url("../images/cover-image-light.png");
  --font-card-color: #353430;
  --header-font-color: #ffc2e6;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --background-color: #fff1f7;
    --title-card-color: #353430;
    --text-card-color: #353430;
    --text-hover-color: #32312d40;
    --header-background-images: url("../images/cover-image-light.png");
    --font-card-color: #353430;
    --header-font-color: #ffc2e6;
  }
}
