/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
	--accent-color: #ff8dcb;
	--title-card-color: #fff1f7;
	--header-background-images: url('../images/cover-image-light.png');
	--header-font-color: #ffC2e6;
	--text-hover-color: #32312d40;
		color: var(--font-card-color);
		background-color: var(--title-card-color);
		--text-card-color:#353430;
		}		


.page.theme_light .focus-card__title {
	color: var(--text-card-color);
}

.page.theme_light .header__theme-menu-button {
	color: var(--text-card-color);
}

.page.theme_light .header__theme-menu-button_type_light {
	border: 1px solid var(--text-card-color);
}

.page.theme_light	.header__theme-menu-button:focus-visible {
	border-bottom: 1px solid var(--text-card-color);
}

.page.theme_light	.header__icon {
	display: none;
}

.page.theme_light .header__title-theme::before {
	border-color: var(--text-card-color);
}

.page.theme_light .header__title-theme::after {
	border-color: var(--text-card-color);
}


@media (prefers-color-scheme: light) {
	.page {
		--accent-color: #ff8dcb;
		--title-card-color: #fff1f7;
		--header-background-images: url('../images/cover-image-light.png');
		--text-card-color: #353430;
		--header-font-color: #ffC2e6;
		--text-hover-color: #32312d40;
			color: var(--font-card-color);
			background-color: var(--title-card-color);
	}
	
	.page .focus-card__title {
		color: var(--text-card-color);
	}
	
	.page .header__theme-menu-button {
		color: var(--text-card-color);
	}
	
	.page.theme_light .header__theme-menu-button_type_light {
		border: 1px solid var(--text-card-color);
	}

	.page.theme_auto .header__theme-menu-button_type_auto {
		border: 1px solid var(--text-card-color);
}

.page.theme_auto .header__theme-menu-button:focus-visible {
	border-bottom: 1px solid var(--text-card-color);
}

.page.theme_auto	.header__icon {
	display: none;
}

.page.theme_auto .header__title-theme::before {
	border-color: var(--text-card-color);
}

.page.theme_auto .header__title-theme::after {
	border-color: var(--text-card-color);
}
}


