.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-inline-size: 375px;
  block-size: 100%;
  margin: auto;
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 18px;
  line-height: 130%;
  background-attachment: fixed;
  color: var(--text-card-color);
  background-color: var(--title-card-color);
}

.header__theme-menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  inline-size: 70px;
  block-size: 26px;
  background-color: transparent;
  border: none;
  line-height: 1;
  color: var(--accent-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-color);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--text-hover-color);
}

.header {
  display: grid;
  block-size: 100vh;
  position: relative;
  grid-template-columns: 1fr;
  gap: 18px;
  padding-inline-end: 2.5vw;
  padding-inline-start: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: var(--header-background-images);
}

.header__icon {
  justify-self: end;
  position: absolute;
  top: 12px;
  right: 39px;
  color: var(--accent-color);
}

.header__icon::after {
  content: "";
  position: absolute;
  background-color: var(--accent-color);
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  top: 6px;
  left: 42px;
  box-shadow: 0px 0px 4px 2px var(--circle-shadow-color);
}

.header__theme-menu {
  padding-block-start: 10px;
  align-self: flex-end;
  box-sizing: border-box;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  gap: 10px;
}

.header__title {
  box-sizing: border-box;
  padding-block-start: 20px;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  align-self: center;
}

.text_shadow {
  text-shadow: min(4px, 0.1em) min(4px, 0.1em) 0 var(--accent-color);
  text-decoration: none;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--font-card-color);
  font-size: 18px;
}

.title-theme {
  color: var(--header-font-color);
}

.title-theme::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 24px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.title-theme::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 24px;
  height: 24px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

.page.theme_auto .header__theme-menu-button_type_auto {
  border: 1px solid var(--accent-color);
}

.header__text {
  justify-self: end;
  box-sizing: border-box;
  inline-size: 355px;
  block-size: 117px;
  font-weight: bold;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 49px;
}

.title-decor_transform {
  font-weight: normal;
}

.focus-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, 355px);
  gap: 20px;
}

.focus-card:first-child {
  padding-block-start: 11vw;
}

.focus-card__text {
  display: block;
  padding-block-start: 10px;
}

.text-focus-state:focus {
  outline: none;
}

.text-focus-state:focus-visible {
  border: 1px solid var(--text-card-color);
}

.text-focus-state:hover {
  border-bottom: 1px solid var(--text-card-color);
}

.focus-card-block {
  display: grid;
}

.focus-card__title {
  font-size: 18px;
  font-weight: bold;
  color: var(--accent-color);
}

.focus-card-gallery {
  padding-block-end: 40px;
  gap: 10px;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.footer__title {
  display: flex;
  position: relative;
  inline-size: 100%;
  block-size: 100vh;
  min-block-size: 668px;
  align-items: center;
  justify-content: center;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width >= 588px) {
  .content {
    gap: 79px;
  }

  .header {
    padding-inline-start: 0px;
    gap: 65px;
  }

  .header__icon {
    display: block;
    top: 22px;
    right: 50px;
  }

  .header__text {
    inline-size: 364px;
  }

  .title-theme::before {
    top: 20px;
    right: 20px;
  }

  .title-theme::after {
    left: 20px;
    bottom: 15px;
  }

  .focus-card {
    grid-template-columns: 30vw 61vw;
    column-gap: 25px;
  }

  .focus-card__title {
    grid-column: 1;
    grid-row: 1/3;
  }
  .title-decor {
    align-self: start;
  }

  .focus-card-block {
    grid-column: 2;
  }

  .focus-card_inline {
    grid-template-columns: 1fr;
    padding-inline: 20px;
  }

  .focus-card__title_inline {
    grid-column: auto;
    grid-row: auto;
    inline-size: 200px;
  }

  .focus-card-block_inline {
    grid-column: auto;
  }

  .focus-card:first-child {
    padding-block-start: 8vw;
  }

  .focus-card-gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fit, 1fr);
    padding-block-end: 64px;
    padding-inline: 20px;
    gap: 20px;
  }

  .images__title-text {
    grid-column: 1 / 4;
    grid-row: 1;
  }

  .gallery__image__sunset {
    grid-column: 1 / 3;
    grid-row: 2;
  }

  .gallery__image__cream {
    grid-column: 3;
    grid-row: 2 / 4;
  }

  .gallery__image__tape {
    grid-column: 1;
    grid-row: 3 / 5;
  }

  .gallery__image__book {
    grid-column: 2;
    grid-row: 3;
  }

  .gallery__image__street {
    grid-column: 2 / 4;
    grid-row: 4;
  }
}

@media (width >= 1024px) {
  .header {
    grid-template-rows: 3fr 5fr 3fr;
    padding-inline-end: 20px;
    padding-block-end: 0px;
    gap: 9px;
  }

  .header__theme-menu {
    align-self: flex-start;
    justify-self: center;
    padding-block-start: 19px;
    padding-inline-start: 20px;
    inline-size: 250px;
  }

  .header__theme-menu-list {
    flex-direction: row;
    justify-self: center;
    padding-block-start: 0;
    gap: 10px;
  }

  .header__title {
    padding-block-start: 0;
    align-self: center;
  }

  .title-theme {
    font-size: 157px;
  }

  .header__text {
    inline-size: 491px;
    block-size: 71px;
  }

  .focus-card {
    grid-template-columns: 31% 64%;
    column-gap: 20px;
    justify-content: center;
  }

  .focus-card:first-child {
    padding-block-start: 6vw;
  }

  .focus-card_inline {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
  }

  .focus-card__title_inline {
    grid-row: 1;
    grid-column: 1/ -1;
    inline-size: 300px;
  }

  .focus-card-block_inline {
    display: block;
  }

  .focus-card-gallery {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .title-theme::after {
    bottom: 20px;
  }

  .header__icon::after {
    top: 6px;
    left: 44px;
  }
}

.page.theme_dark .focus-card__title {
  color: var(--accent-color);
}

.page.theme_dark .header__theme-menu-button {
  color: var(--accent-color);
}

.page.theme_dark .header__theme-menu-button_type_dark {
  border: 1px solid var(--accent-color);
}

.page.theme_light .focus-card__title {
  color: var(--text-card-color);
}

.page.theme_light .header__theme-menu-button {
  color: var(--text-card-color);
}

.page.theme_light .header__theme-menu-button_type_light {
  border: 1px solid var(--text-card-color);
}

.page.theme_light .header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--text-card-color);
}

.page.theme_light .header__icon {
  display: none;
}

.page.theme_light .title-theme::before {
  border-color: var(--text-card-color);
}

.page.theme_light .title-theme::after {
  border-color: var(--text-card-color);
}

@media (prefers-color-scheme: light) {
  .page {
    --accent-color: #ff8dcb;
    --title-card-color: #fff1f7;
    --header-background-images: url("../images/cover-image-light.png");
    --text-card-color: #353430;
    --header-font-color: #ffc2e6;
    --text-hover-color: #32312d40;
    color: var(--font-card-color);
    background-color: var(--title-card-color);
  }

  .page .focus-card__title {
    color: var(--text-card-color);
  }

  .page .header__theme-menu-button {
    color: var(--text-card-color);
  }

  .page.theme_light .header__theme-menu-button_type_light {
    border: 1px solid var(--text-card-color);
  }

  .page.theme_auto .header__theme-menu-button_type_auto {
    border: 1px solid var(--text-card-color);
  }

  .page.theme_auto .header__theme-menu-button:focus-visible {
    border-bottom: 1px solid var(--text-card-color);
  }

  .page.theme_auto .header__icon {
    display: none;
  }

  .page.theme_auto .title-theme::before {
    border-color: var(--text-card-color);
  }

  .page.theme_auto .title-theme::after {
    border-color: var(--text-card-color);
  }
}
